openapi: 3.0.3
info:
  title: URLShot API
  version: 1.0.0
  description: Fast API for capturing website screenshots.

servers:
  - url: https://urlshot.dev
    description: Production
  - url: http://localhost:3000
    description: Local development

tags:
  - name: Health
  - name: Screenshot

paths:
  /api/test:
    get:
      tags:
        - Health
      summary: Health check
      description: Returns API service status.
      operationId: getHealth
      responses:
        "200":
          description: Service is running.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/HealthResponse"
              example:
                status: ok
                message: Screenshot API is running

  /api/screenshot:
    post:
      tags:
        - Screenshot
      summary: Capture website screenshot
      description: Captures a full-page screenshot for a public website URL.
      operationId: createScreenshot
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/ScreenshotRequest"
            examples:
              pngExample:
                summary: PNG screenshot request
                value:
                  url: https://example.com
                  width: 1920
                  format: png
              jpegExample:
                summary: JPEG screenshot request
                value:
                  url: https://example.com
                  width: 1366
                  format: jpeg
      responses:
        "200":
          description: Screenshot image bytes.
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/jpeg:
              schema:
                type: string
                format: binary
        "400":
          description: Invalid request payload or URL.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              examples:
                invalidJson:
                  value:
                    error: Invalid JSON body.
                invalidUrl:
                  value:
                    error: Invalid URL. Provide a valid http(s) URL.
                invalidWidth:
                  value:
                    error: Invalid width. Must be a number between 320 and 3840.
        "429":
          description: Rate limit exceeded.
          headers:
            Retry-After:
              description: Seconds until another request is allowed.
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ErrorResponse"
              example:
                error: Too many requests. Please try again later.
        "500":
          description: Screenshot generation failed.
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/ScreenshotFailureResponse"
              example:
                error: Screenshot failed
                details: Navigation timeout exceeded

components:
  schemas:
    HealthResponse:
      type: object
      required:
        - status
        - message
      properties:
        status:
          type: string
          example: ok
        message:
          type: string
          example: Screenshot API is running

    ScreenshotRequest:
      type: object
      required:
        - url
      properties:
        url:
          type: string
          format: uri
          description: Public website URL (http or https).
          example: https://example.com
        width:
          type: number
          minimum: 320
          maximum: 3840
          default: 1920
          description: Viewport width in pixels.
          example: 1920
        format:
          type: string
          enum:
            - png
            - jpeg
          default: png
          description: Screenshot image format.
          example: png

    ErrorResponse:
      type: object
      required:
        - error
      properties:
        error:
          type: string

    ScreenshotFailureResponse:
      type: object
      required:
        - error
        - details
      properties:
        error:
          type: string
          example: Screenshot failed
        details:
          type: string
          example: Failed to launch the browser process
